/*
CSS Credit: http://www.templatemo.com/
*/
html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
	line-height: 1.5em;
	font-family: Arial, Georgia, "Times New Roman", Times, serif;
	font-size: 14px; /*字体大小*/
	color: #666;
	background: #ffffff;
}

a:visited {color: #CC6688; text-decoration: none;}
a:link	  {color: #003366; text-decoration: none; font-weight: normal;} 
a:active, a:hover {text-decoration: underline;}

p {
	margin: 0px;
	padding: 0px;
	color: #333;
	text-indent: 2em; /*首行缩进*/
}

p.tip span, p.note span, p.important span {
	font-weight:bold;
}

p.important span {
	color:#dd0000;
	}
	
p.tip span {
	color:#ff9955;
	}

img {
	margin: 0px;
	padding: 0px;
	border: none;
}


.cleaner { clear: both; width: 100%; height: 0px; font-size: 0px;  }

.margin_bottom_10 { clear: both; width: 100%; height: 10px; font-size: 1px;	}
.margin_bottom_15 { clear: both; width: 100%; height: 15px; font-size: 1px;	}
.margin_bottom_20 { clear: both; width: 100%; height: 20px; font-size: 1px;	}
.margin_bottom_30 { clear: both; width: 100%; height: 30px; font-size: 1px;	}
.margin_bottom_40 { clear: both; width: 100%; height: 40px; font-size: 1px;	}
.margin_bottom_50 { clear: both; width: 100%; height: 50px; font-size: 1px;	}
.margin_bottom_60 { clear: both; width: 100%; height: 60px; font-size: 1px;	}

.margin_right_40 { margin-right: 40px; }
.margin_right_70 { margin-right: 70px; }

.fl { float: left; }
.fr { float: right }

.button_01 a{
	clear: both;
	display: block;
	width: 100px;
	height: 23px;
	padding-top: 5px;
	background: url(images/button_01.png) no-repeat;
	
	
	color: #000;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
}


.header_01 {
	clear: both;
	padding-bottom: 10px;
	margin-bottom: 10px;
	font-size: 32px;
	line-height: 40px;	
	color: #ffffff;
}

.header_02 {
	clear: both;
	padding-bottom: 20px;
	margin-bottom: 15px;
	font-size: 22px;
	letter-spacing: 2px;
	color: #000000;
	background: url(images/header_01_bg.jpg) left bottom no-repeat;	
}

.header_03 {
	clear: both;
	height: 35px;
	padding: 15px 0 0 20px;
	font-size: 18px;
	color: #ffffff;
	background: url(images/header_02_bg.jpg) repeat-x;
}

.header_04 {
	clear: both;
	padding: 5px 0 5px 2em;
	font-size: 14px;
	font-weight: bold;
	color: #000000;
}

.header_04 a{
	clear: both;
	font-size: 12px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
}

.header_05 {
	clear: both;
	font-size: 14px;
	color: #ffffff;
	width: 128px;
	height: 24px;
	padding: 3px 0 0 20px;
	margin-bottom: 5px;
	background:  url(images/footer_title_bg.png) no-repeat;
}


table.gridtable {
	text-align:center;
	font-size:13px;
	color:#333333;
	border-width: 1px;
	border-color: #666666;
	border-collapse: collapse;
}
table.gridtable th {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #dedede;
}
table.gridtable td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #ffffff;
}

#container {
	min-height: 100%;
	height: auto !important;
	height: 100%;
}

#header_wrapper {
	width: 100%;
	height: 90px;
	margin: 0 auto;
	background: #19446a url(images/header_bg.jpg) repeat-x;
}

#header {
	width: 980px;
	margin: 0 auto;
}

#header #site_logo {
	float: left;
	width: 300px;
	height: 84px;
	font-size: 40px;
	color: #ffffff;
	background: url(images/logo.jpg) no-repeat;
}

/* menu */

#menu {
	position: relative;
	float: right;
	height: 47px;
	margin: 20px 40px 0 0;
	background: url(images/menu_right.jpg) right no-repeat;
}

#menu #menu_left{
	position: absolute;
	width: 20px;
	height: 47px;
	top: 0px;
	left: 0px;
	background: url(images/menu_left.jpg) no-repeat;
}

#menu ul {
	margin: 10px 20px 0 0;
	padding: 0px;
	list-style: none;
}

#menu ul li{
	padding: 0px;
	margin: 0px;
	display: inline;
}

#menu ul li a{
	float: left;
	display: block;
	width: 100px;
	padding: 5px 0;
	background: url(images/menu_divider.jpg) right repeat-y;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	text-decoration: none;
	color: #919191;	
	outline: none;
}

#menu li a:hover, #menu li .current{
	color: #bbd142;
}

#menu li .last {
	background: none;
}

#menu li .last_current{
	color: #bbd142;
	background: none;
}

/* end of menu*/

/* end of header */

#banner_wrapper {
	clear: both;
	width: 100%;
	height: 281px;
	margin: 0 auto;
	background: #454545 url(images/banner_repeat.jpg) repeat-x;
}

#banner {
	width: 900px;
	height: 251px;
	margin: 0 auto;
	padding: 30px 40px 0 40px;;
	background:url(images/banner_bg.jpg) bottom no-repeat;
}

#banner #banner_image {
	float: left;
	width: 440px;	
}

#banner_content {
	float: right;
	text-align: left;
	width: 460px;
}

#banner_content p {
	color: #959787;
	font-size: 20px;
	line-height: 25px;
	margin-bottom: 20px;
}

#banner_image_wrapper {
	position: relative;
	width: 413px;
	height: 230px;
	background:url(images/banner_image_bg.png) no-repeat;
}

#banner_image_wrapper img {
	position: absolute;
	width: 380px;
	height: 210px;
	top: 10px; 
	left: 10px;
}


/* content */

#content_wrapper {
	clear: both;
	width: 980px;
	margin: 0 auto;
	padding-bottom: 58px;/*高度等于footer*/
	background: #ffffff;
}

#content {
	width: 900px;
	padding: 50px 40px;
	background: #ffffff;
}

#column_w600 {
	float: left;
	width: 600px;
	line-height: 20px;
	background: #ffffff;
}

#column_w530 {
	float: left;
	width: 530px;
	line-height: 20px;
	background: #ffffff;
}

#column_w300 {
	float: right;
	width: 298px;
	background: #efefef;
	border: 1px solid #e5e5e5;
}

#column_w260{
	text-indent:0px;
	float: right;
	width: 258px;
	background: #efefef;
	border: 1px solid #e5e5e5;
}

#column_w600 .em_text {
	color: #000;
}

#column_w600 p {
	margin-bottom: 15px;
}

#column_w530 .em_text {
	color: #000;
}

#column_w530 p {
	margin-bottom: 15px;
}

#content_image_wrapper img {
	top: 10px; 
	left: 10px;
	bottom: 10px;
}

.content_list_01 {
	margin: 0 0 0 30px;
	padding: 0px;
	list-style: square;
}

.content_list_01 li {
	margin: 0px;
	padding: 0 0 10px 10px;
	
}

.content_list_02 {
	margin: 0px;
	padding: 0 0 10px 10px;
}

.content_list_02 li{
	margin: 0 0 0 10px;
	padding: 0px;
	list-style: none;
}

.content_section_01 {
	border-left: 10px solid #bbd142;
	padding-left: 20px;
}

.column_w300_section_01 {
	text-indent:0em;
	clear: both;
	padding: 20px 19px;
	background: url(images/side_column_divider.jpg) bottom repeat-x;
}

.even_color {
	background: #e0dfdf;
}

.news_image_wrapper {
	float: left;
	width: 70px;
	height: 70px;
	padding: 4px;
	margin: 3px 0 0 0;
	border: 1px solid #dad8d8;
	background: #ffffff;
}

.news_image_wrapper img{
	width: 69px;
	height: 69px;
	border: 1px solid #9c9d85;
}

.news_content {
	float: right;
	width: 170px;
}

.news_content .news_date {
	font-size: 12px;
	color: #9a9a9a;
}

.news_content p{
	line-height: 15px;
	font-size: 11px;
}

/* end of content */

#footer_wrapper {
	width: 100%;
	position: relative;
	margin-top: -58px;/*等于footer的高度*/
	height: 58px;
	clear: both;

	background: url(images/footer_bg.jpg) repeat-x;
}

#footer {
	width: 920px;
	padding: 10px;
	margin: 0 auto;
	color: #515251;
}

#footer a{
	text-decoration: none;
	color: #7a7a7a;
}


#footer  .footer_menu_list {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

#footer .footer_menu_list li {
    float:left;
	margin: 10px 10px 0 0;
	padding: 0px;
}

#footer .footer_menu_list li a {
	color: #928b85;
	font-weight: normal;
	text-decoration: none;
}

#footer .copyright{
	margin: 10px 0 0 0;
	float:right;
}

.email a{
	font-weight: normal;
	text-decoration: none;
}
/* end of footer */

/* comment box */
#HCB_comment_box {
  width: 600px;
}

#HCB_comment_box #hcb_form_content,
#HCB_comment_box #hcb_form_email, 
#HCB_comment_box #hcb_form_name, 
#HCB_comment_box #hcb_form_website {
  background-color:#ffd;
}

#HCB_comment_box form {
  margin: 1px 0 18px;
}

